#user-menu {
    position: absolute;
    left: 50%;
    margin: 100px 0 0 -150px;
  }

.btn-primary {
  background-color: #BF1931;
  border: 0px;
}

.btn-primary:hover {
  background-color: #FFCC4C;
  border: 0px;
}

.btn-primary:focus {
  background-color: #FFCC4C;
  border: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


